.App {
  display: flex;
  flex-direction: column;
  height: 90vh;
   font-family: 'Inter', sans-serif;
  
}

.main-container {
  display: flex;
  flex: 1;
  overflow: hidden;
 background: #EEF2FF;

}

.content {
  flex: 1;
  overflow-y: hidden;
  padding: 20px;
}